@tailwind base;
@tailwind components;
@tailwind utilities;

.homeLink {
    text-decoration: none;
    /* color: #d99a25; */
    font-size: xx-large;
}

.menuBarLinks {
    /* color: #d99a25; */
    text-decoration: none;
    font-size: large;
}

header {
    width: 100%;
    padding: 50px 0px 50px;
    /* background: #f2f2f2; */
    /* color: #f2d027; */
}

nav {
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

Footer {
    /* width: 100%; */
    height: 25px;
    padding: 0px 30px;
    background: #000000;
    color: #ffffff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
}

.content {
    min-height: calc(100vh - 40px);
}

.stats {
    min-height: calc(100vh - 60px);
}

.hero {
    background-image: url('../public/Home.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}